:root{
    --light-bg-cl: rgb(213, 208, 208);
    --dark-bg-cl:rgb(34, 32, 32);
}
/*body ---------------------------------------------*/
body{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.body-light{
    color: var(--dark-bg-cl);
    background-color: var(--light-bg-cl);
}

.body-dark{
    color: var(--light-bg-cl);
    background-color: var(--dark-bg-cl);
}

/*nav-bar ---------------------------------------------*/

body nav {
    display: flex;
    flex-flow:wrap row;
}

.nav-bar-light{
    color: var(--dark-bg-cl);
    background-color: var(--light-bg-cl);
    border: solid var(--dark-bg-cl);
}

.nav-bar-dark{
    color: var(--light-bg-cl);
    background-color: var(--dark-bg-cl);
    border: solid var(--light-bg-cl);
}

body nav p, img{
    border: solid var(--dark-bg-cl);
    width: 50px;
    text-align: center;
}
body nav button{
    background-color: rgb(5, 78, 151);
    border-radius: 10px;
    color: rgb(224, 224, 224);
    width: 120px;
    height: 30px;
}